<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sight #<%= @sight.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Country location</dt>
              <dd><%= Country.find_country_by_alpha2(@sight.country_location) %></dd>

              <dt>City location</dt>
              <dd><%= @sight.city_location %></dd>

              <dt>Tour</dt>
              <dd><%= @sight.tour_id %></dd>

              <dt>User</dt>
              <dd><%= @sight.user_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/sights" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/sights/<%= @sight.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_sight/<%= @sight.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
