<!-- Validation failure messages -->

<% if @tour.errors.any? %>
<% @tour.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Tour</h3>
      </div>
      <div class="panel-body">
        <form action="/create_tour" method="post" class="form-horizontal" enctype="multipart/form-data">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for tour_name -->
          <div class="form-group">
            <label for="tour_name" class="col-sm-2 control-label">
              Tour name
            </label>
            <div class="col-sm-10">
              <input type="text" id="tour_name" name="tour_name" placeholder="Tour name" class="form-control" value="<%= @tour.tour_name %>">
            </div>
          </div>

          <!-- Label and input for picture -->
                 <div class="form-group">
            <label for="picture" class="col-sm-2 control-label">
              Picture
            </label>
            <div class="col-sm-10">
         <input type="file" id="picture" name="picture" class="form-control" value ="<%= @tour.picture %>">

            </div>
          </div>

          <!-- Label and input for country_location -->
          <div class="form-group">
            <label for="country_location" class="col-sm-2 control-label">
              Country
            </label>
            <div class="col-sm-10">

              <!---  <input type="text" id="country_location" name="country_location" placeholder="Country" class="form-control" value="<%= @tour.country_location %>"> -->
              <select id = "country_location" name = "country_location" placeholder = "Country" class = "form-control" value = "<%= @tour.country_location %>">

                <option value = "AF">  Afghanistan</option>
                <option value = "AX">  Åland Islands</option>
                <option value = "AL">  Albania</option>
                <option value = "DZ">  Algeria</option>
                <option value = "AS">  American Samoa</option>
                <option value = "AD">  Andorra</option>
                <option value = "AO">  Angola</option>
                <option value = "AI">  Anguilla</option>
                <option value = "AQ">  Antarctica</option>
                <option value = "AG">  Antigua and Barbuda</option>
                <option value = "AR">  Argentina</option>
                <option value = "AM">  Armenia</option>
                <option value = "AW">  Aruba</option>
                <option value = "AU">  Australia</option>
                <option value = "AT">  Austria</option>
                <option value = "AZ">  Azerbaijan</option>
                <option value = "BS">  Bahamas</option>
                <option value = "BH">  Bahrain</option>
                <option value = "BD">  Bangladesh</option>
                <option value = "BB">  Barbados</option>
                <option value = "BY">  Belarus</option>
                <option value = "BE">  Belgium</option>
                <option value = "BZ">  Belize</option>
                <option value = "BJ">  Benin</option>
                <option value = "BM">  Bermuda</option>
                <option value = "BT">  Bhutan</option>
                <option value = "BO">  Bolivia</option>
                <option value = "BA">  Bosnia and Herzegovina</option>
                <option value = "BW">  Botswana</option>
                <option value = "BV">  Bouvet Island</option>
                <option value = "BR">  Brazil</option>
                <option value = "IO">  British Indian Ocean Territory</option>
                <option value = "BN">  Brunei Darussalam</option>
                <option value = "BG">  Bulgaria</option>
                <option value = "BF">  Burkina Faso</option>
                <option value = "BI">  Burundi</option>
                <option value = "KH">  Cambodia</option>
                <option value = "CM">  Cameroon</option>
                <option value = "CA">  Canada</option>
                <option value = "CV">  Cape Verde</option>
                <option value = "BQ">  Caribbean Netherlands</option>
                <option value = "KY">  Cayman Islands</option>
                <option value = "CF">  Central African Republic</option>
                <option value = "TD">  Chad</option>
                <option value = "CL">  Chile</option>
                <option value = "CN">  China</option>
                <option value = "CX">  Christmas Island</option>
                <option value = "CC">  Cocos (Keeling) Islands</option>
                <option value = "CO">  Colombia</option>
                <option value = "KM">  Comoros</option>
                <option value = "CG">  Congo</option>
                <option value = "CD">  Congo, Democratic Republic of</option>
                <option value = "CK">  Cook Islands</option>
                <option value = "CR">  Costa Rica</option>
                <option value = "CI">  Côte d'Ivoire</option>
                <option value = "HR">  Croatia</option>
                <option value = "CU">  Cuba</option>
                <option value = "CW">  Curaçao</option>
                <option value = "CY">  Cyprus</option>
                <option value = "CZ">  Czech Republic</option>
                <option value = "DK">  Denmark</option>
                <option value = "DJ">  Djibouti</option>
                <option value = "DM">  Dominica</option>
                <option value = "DO">  Dominican Republic</option>
                <option value = "EC">  Ecuador</option>
                <option value = "EG">  Egypt</option>
                <option value = "SV">  El Salvador</option>
                <option value = "GQ">  Equatorial Guinea</option>
                <option value = "ER">  Eritrea</option>
                <option value = "EE">  Estonia</option>
                <option value = "ET">  Ethiopia</option>
                <option value = "FK">  Falkland Islands</option>
                <option value = "FO">  Faroe Islands</option>
                <option value = "FJ">  Fiji</option>
                <option value = "FI">  Finland</option>
                <option value = "FR">  France</option>
                <option value = "GF">  French Guiana</option>
                <option value = "PF">  French Polynesia</option>
                <option value = "TF">  French Southern Territories</option>
                <option value = "GA">  Gabon</option>
                <option value = "GM">  Gambia</option>
                <option value = "GE">  Georgia</option>
                <option value = "DE">  Germany</option>
                <option value = "GH">  Ghana</option>
                <option value = "GI">  Gibraltar</option>
                <option value = "GR">  Greece</option>
                <option value = "GL">  Greenland</option>
                <option value = "GD">  Grenada</option>
                <option value = "GP">  Guadeloupe</option>
                <option value = "GU">  Guam</option>
                <option value = "GT">  Guatemala</option>
                <option value = "GG">  Guernsey</option>
                <option value = "GN">  Guinea</option>
                <option value = "GW">  Guinea-Bissau</option>
                <option value = "GY">  Guyana</option>
                <option value = "HT">  Haiti</option>
                <option value = "HM">  Heard and McDonald Islands</option>
                <option value = "HN">  Honduras</option>
                <option value = "HK">  Hong Kong</option>
                <option value = "HU">  Hungary</option>
                <option value = "IS">  Iceland</option>
                <option value = "IN">  India</option>
                <option value = "ID">  Indonesia</option>
                <option value = "IR">  Iran</option>
                <option value = "IQ">  Iraq</option>
                <option value = "IE">  Ireland</option>
                <option value = "IM">  Isle of Man</option>
                <option value = "IL">  Israel</option>
                <option value = "IT">  Italy</option>
                <option value = "JM">  Jamaica</option>
                <option value = "JP">  Japan</option>
                <option value = "JE">  Jersey</option>
                <option value = "JO">  Jordan</option>
                <option value = "KZ">  Kazakhstan</option>
                <option value = "KE">  Kenya</option>
                <option value = "KI">  Kiribati</option>
                <option value = "KW">  Kuwait</option>
                <option value = "KG">  Kyrgyzstan</option>
                <option value = "LA">  Lao People's Democratic Republic</option>
                <option value = "LV">  Latvia</option>
                <option value = "LB">  Lebanon</option>
                <option value = "LS">  Lesotho</option>
                <option value = "LR">  Liberia</option>
                <option value = "LY">  Libya</option>
                <option value = "LI">  Liechtenstein</option>
                <option value = "LT">  Lithuania</option>
                <option value = "LU">  Luxembourg</option>
                <option value = "MO">  Macau</option>
                <option value = "MK">  Macedonia</option>
                <option value = "MG">  Madagascar</option>
                <option value = "MW">  Malawi</option>
                <option value = "MY">  Malaysia</option>
                <option value = "MV">  Maldives</option>
                <option value = "ML">  Mali</option>
                <option value = "MT">  Malta</option>
                <option value = "MH">  Marshall Islands</option>
                <option value = "MQ">  Martinique</option>
                <option value = "MR">  Mauritania</option>
                <option value = "MU">  Mauritius</option>
                <option value = "YT">  Mayotte</option>
                <option value = "MX">  Mexico</option>
                <option value = "FM">  Micronesia, Federated States of</option>
                <option value = "MD">  Moldova</option>
                <option value = "MC">  Monaco</option>
                <option value = "MN">  Mongolia</option>
                <option value = "ME">  Montenegro</option>
                <option value = "MS">  Montserrat</option>
                <option value = "MA">  Morocco</option>
                <option value = "MZ">  Mozambique</option>
                <option value = "MM">  Myanmar</option>
                <option value = "NA">  Namibia</option>
                <option value = "NR">  Nauru</option>
                <option value = "NP">  Nepal</option>
                <option value = "NC">  New Caledonia</option>
                <option value = "NZ">  New Zealand</option>
                <option value = "NI">  Nicaragua</option>
                <option value = "NE">  Niger</option>
                <option value = "NG">  Nigeria</option>
                <option value = "NU">  Niue</option>
                <option value = "NF">  Norfolk Island</option>
                <option value = "KP">  North Korea</option>
                <option value = "MP">  Northern Mariana Islands</option>
                <option value = "NO">  Norway</option>
                <option value = "OM">  Oman</option>
                <option value = "PK">  Pakistan</option>
                <option value = "PW">  Palau</option>
                <option value = "PS">  Palestine, State of</option>
                <option value = "PA">  Panama</option>
                <option value = "PG">  Papua New Guinea</option>
                <option value = "PY">  Paraguay</option>
                <option value = "PE">  Peru</option>
                <option value = "PH">  Philippines</option>
                <option value = "PN">  Pitcairn</option>
                <option value = "PL">  Poland</option>
                <option value = "PT">  Portugal</option>
                <option value = "PR">  Puerto Rico</option>
                <option value = "QA">  Qatar</option>
                <option value = "RE">  Réunion</option>
                <option value = "RO">  Romania</option>
                <option value = "RU">  Russian Federation</option>
                <option value = "RW">  Rwanda</option>
                <option value = "BL">  Saint Barthélemy</option>
                <option value = "SH">  Saint Helena</option>
                <option value = "KN">  Saint Kitts and Nevis</option>
                <option value = "LC">  Saint Lucia</option>
                <option value = "VC">  Saint Vincent and the Grenadines</option>
                <option value = "MF">  Saint-Martin (France)</option>
                <option value = "WS">  Samoa</option>
                <option value = "SM">  San Marino</option>
                <option value = "ST">  Sao Tome and Principe</option>
                <option value = "SA">  Saudi Arabia</option>
                <option value = "SN">  Senegal</option>
                <option value = "RS">  Serbia</option>
                <option value = "SC">  Seychelles</option>
                <option value = "SL">  Sierra Leone</option>
                <option value = "SG">  Singapore</option>
                <option value = "SX">  Sint Maarten (Dutch part)</option>
                <option value = "SK">  Slovakia</option>
                <option value = "SI">  Slovenia</option>
                <option value = "SB">  Solomon Islands</option>
                <option value = "SO">  Somalia</option>
                <option value = "ZA">  South Africa</option>
                <option value = "GS">  South Georgia and the South Sandwich Islands</option>
                <option value = "KR">  South Korea</option>
                <option value = "SS">  South Sudan</option>
                <option value = "ES">  Spain</option>
                <option value = "LK">  Sri Lanka</option>
                <option value = "PM">  St. Pierre and Miquelon</option>
                <option value = "SD">  Sudan</option>
                <option value = "SR">  Suriname</option>
                <option value = "SJ">  Svalbard and Jan Mayen Islands</option>
                <option value = "SZ">  Swaziland</option>
                <option value = "SE">  Sweden</option>
                <option value = "CH">  Switzerland</option>
                <option value = "SY">  Syria</option>
                <option value = "TW">  Taiwan</option>
                <option value = "TJ">  Tajikistan</option>
                <option value = "TZ">  Tanzania</option>
                <option value = "TH">  Thailand</option>
                <option value = "NL">  The Netherlands</option>
                <option value = "TL">  Timor-Leste</option>
                <option value = "TG">  Togo</option>
                <option value = "TK">  Tokelau</option>
                <option value = "TO">  Tonga</option>
                <option value = "TT">  Trinidad and Tobago</option>
                <option value = "TN">  Tunisia</option>
                <option value = "TR">  Turkey</option>
                <option value = "TM">  Turkmenistan</option>
                <option value = "TC">  Turks and Caicos Islands</option>
                <option value = "TV">  Tuvalu</option>
                <option value = "UG">  Uganda</option>
                <option value = "UA">  Ukraine</option>
                <option value = "AE">  United Arab Emirates</option>
                <option value = "GB">  United Kingdom</option>
                <option value = "US">  United States</option>
                <option value = "UM">  United States Minor Outlying Islands</option>
                <option value = "UY">  Uruguay</option>
                <option value = "UZ">  Uzbekistan</option>
                <option value = "VU">  Vanuatu</option>
                <option value = "VA">  Vatican</option>
                <option value = "VE">  Venezuela</option>
                <option value = "VN">  Vietnam</option>
                <option value = "VG">  Virgin Islands (British)</option>
                <option value = "VI">  Virgin Islands (U.S.)</option>
                <option value = "WF">  Wallis and Futuna Islands</option>
                <option value = "EH">  Western Sahara</option>
                <option value = "YE">  Yemen</option>
                <option value = "ZM">  Zambia</option>
                <option value = "ZW">  Zimbabwe</option>

              </select>

            </div>
          </div>

          <!-- Label and input for starting_location -->
          <div class="form-group">
            <label for="starting_location" class="col-sm-2 control-label">
              Starting City
            </label>
            <div class="col-sm-10">
              <input type="text" id="starting_location" name="starting_location" placeholder="Starting City" class="form-control" value="<%= @tour.starting_location %>">
            </div>
          </div>


          <!-- Label and input for city_location -->
          <div class="form-group">
            <label for="city_location" class="col-sm-2 control-label">
              Ending City
            </label>
            <div class="col-sm-10">
              <input type="text" id="city_location" name="city_location" placeholder="Ending City" class="form-control" value="<%= @tour.city_location %>">
            </div>
          </div>

          <!-- Label and input for duration -->
          <div class="form-group">
            <label for="duration" class="col-sm-2 control-label">
              Duration
            </label>
            <div class="col-sm-10">
              <input type="text" id="duration" name="duration" placeholder="Days" class="form-control" value="<%= @tour.duration %>">
            </div>
          </div>


          <!-- Label and input for price -->
          <div class="form-group">
            <label for="price" class="col-sm-2 control-label">
              Price (USD)
            </label>
            <div class="col-sm-10">
              <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @tour.price %>">
            </div>
          </div>


          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <input type="text_area" id="description" name="description" placeholder="Description" class="form-control" value="<%= @tour.description %>">
            </div>
          </div>

          <!-- Label and input for user_id -->
          <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">
              Tour Guide
            </label>
            <div class="col-sm-10">
             <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id,:first_name, @tour.user_id), :class => "form-control") %>
           </div>
         </div>


         <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-success">
              Create Tour
            </button>
            or
            <a href="/tours">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<!-- End responsive panel example -->
